{
  "presets": ["env", "react", "flow"],
  "plugins": [
    "transform-export-extensions",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react"
      ],
      "plugins": [
        "transform-export-extensions",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-flow-strip-types"
      ]
    }
  }
}
