{
  "presets": [
    ["env", {
      "targets": {
        "browsers": "last 2 versions"
      }
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-async-to-generator"
  ]
}
