{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "last 2 versions"
      }
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-async-to-generator"
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", {
          "removeImport": true
        }]
      ]
    }
  }
}
