# Package managers
.npm
node_modules
bower_components
jspm_packages

# Build
lib/*
!lib/index.js

# Reserved
internal
deprecated

# Logs
*.log
yarn-debug.log*
yarn-error.log*
npm-*

## Cypress
cypress/fixtures
cypress/screenshots
cypress/videos
cypress/support
