# Sources
src
test
docs
stories
cypress
SUMMARY.md

# Configurations
.github
.babelrc
.eslintrc*
.circleci
book.json
cypress.json
npm-*
webpack*
jest*

# Misc
.storybook
favicon.*
logo.*
internal
examples
favicon.ico
